header {
    background-color: #111;
    font-family: 'Raleway', sans-serif;
    color: #eee;
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: 1.5rem;
        font-weight: normal;
    }
}