.countryFinderOutput {
    padding: 30px 3vw;
    display: flex;
    align-self: stretch;

    .countryFlag {
        padding-right: 20px;
    }

    .countryInfo {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;

        h2 {}
    }
}