@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");
:root {
  font-size: 16px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background-color: #444;
  color: #eee; }

header {
  background-color: #111;
  font-family: 'Raleway', sans-serif;
  color: #eee;
  display: flex;
  justify-content: space-between; }
  header h1 {
    font-size: 1.5rem;
    font-weight: normal; }

.countryFinderOutput {
  padding: 30px 3vw;
  display: flex;
  align-self: stretch; }
  @media screen and (max-width: 400px) {
    .countryFinderOutput {
      flex-direction: column; } }
  .countryFinderOutput .countryFlag {
    padding-right: 20px; }
  .countryFinderOutput .countryInfo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
    max-width: 350px; }
    .countryFinderOutput .countryInfo h2 {
      font-family: 'Raleway', sans-serif;
      font-size: 1.3rem;
      font-weight: bold;
      padding-bottom: 15px; }
      .countryFinderOutput .countryInfo h2 .preHeadline {
        font-size: .7rem;
        font-weight: normal;
        margin-bottom: 2px; }
